@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap');

body {
    margin: 100px;
    background: #eee;
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    color: #333;
}

/* Card */
.card {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    position: relative;
    perspective: 1400px;
}

/* Left Card */
.left-card {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;

    transition: transform 1s;
    transform-style: preserve-3d;
    transform-origin: 0 0;
}

.left-card img {
    width: 100%;
}

.left-card .card-front,
.left-card .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backface-visibility: hidden;
}

.left-card .card-back {
    background: #f4f4f4;
    transform: rotateY(180deg);
}

/* Open Card */
.card.open .left-card {
    transform: rotateY(-180deg);
}

/* Right Card */
.right-card {
    width: 100%;
    height: 100%;
    background: #fff;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    cursor: pointer;
}

.right-card h2 {
    color: crimson;
    font-weight: 700;
}
